[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Battery Monitor
Name[ar]=مراقب البطارية
Name[ast]=Monitor de batería
Name[be]=Індыкатар батарэі
Name[bg]=Наблюдение на батерията
Name[ca]=Monitor de la bateria
Name[cs]=Sledování stavu akumulátoru
Name[da]=Batteriovervågning
Name[de]=Akkuüberwachung
Name[el]=Παρακολούθηση μπαταρίας
Name[en_AU]=Battery Monitor
Name[en_CA]=Battery Monitor
Name[en_GB]=Battery Monitor
Name[es]=Monitor de la batería
Name[et]=Akukasutuse jälgija
Name[eu]=Bateria-karga monitorea
Name[fi]=Akun seuraaja
Name[fr]=Moniteur de batterie
Name[ga]=Monatóir Cadhnra
Name[gl]=Monitor da Batería
Name[he]=עוקב סוללה
Name[hr]=Monitor baterije
Name[hu]=Akkumulátorfigyelő
Name[hy_AM]=Մարտկոցի ցուցադրիչ
Name[hye]=Մարտկոցի ցուցադրիչ
Name[id]=Monitor Baterai
Name[ie]=Monitor de batterie
Name[is]=Rafhlöðueftirlit
Name[it]=Monitor della batteria
Name[ja]=バッテリモニター
Name[kk]=Батарея бақылаушысы
Name[ko]=배터리 감시기
Name[lt]=Akumuliatoriaus prižiūryklė
Name[lv]=Baterijas novērotājs
Name[ms]=Pemantau Bateri
Name[nb]=Batteriovervåkning
Name[nl]=Accubewaker
Name[nn]=Batteriovervaking
Name[oc]=Monitor de batariá
Name[pa]=ਬੈਟਰੀ ਮਾਨੀਟਰ
Name[pl]=Monitor akumulatora
Name[pt]=Monitor de bateria
Name[pt_BR]=Monitor da bateria
Name[ru]=Индикатор батареи
Name[sk]=Sledovanie batérie
Name[sl]=Prikazovalnik baterije
Name[sq]=Mbikëqyrës Baterie
Name[sr]=Надзор батерије
Name[sv]=Batteriövervakning
Name[th]=เครื่องมือเฝ้าสังเกตแบตเตอรี่
Name[tr]=Pil Gözlemcisi
Name[ug]=توكدان كۆزەتكۈ
Name[uk]=Контроль батареї
Name[ur]=بیٹری مانیٹر
Name[ur_PK]=بیٹری مانیٹر
Name[uz]=Batareiya monitori
Name[uz@Latn]=Batareiya monitori
Name[vi]=Giám sát Pin
Name[zh_CN]=电池监视器
Name[zh_TW]=電池監視器
Comment=Show and monitor the battery status
Comment[ar]=عرض و مراقبة حالة البطارية
Comment[ast]=Amosar y monitorizar l'estáu de la batería
Comment[be]=Адсочваць стан батарэі
Comment[bg]=Покажи и наблюдавай състоянието на батерията
Comment[ca]=Mostra i monitora l'estat de la bateria
Comment[cs]=Zobrazit a monitorovat stav baterie
Comment[da]=Vis og overvåg batteriets status
Comment[de]=Akkuzustand anzeigen und überwachen
Comment[el]=Εμφάνιση και παρακολούθηση της κατάστασης της μπαταρίας
Comment[en_AU]=Show and monitor the battery status
Comment[en_CA]=Show and monitor the battery status
Comment[en_GB]=Show and monitor the battery status
Comment[es]=Muestra y controla el estado de la batería
Comment[et]=Näita ja jälgi akutaset
Comment[eu]=Bateria egoera erakutsi eta monitorizatu
Comment[fi]=Näytä ja valvo akun tilaa
Comment[fr]=Afficher et suivre l’état de la batterie
Comment[ga]=Taispeáin agus déan monatóireacht ar staid an cadhnra
Comment[gl]=Amosar e monitorizar o estado da batería
Comment[he]=הצג ועקוב אחר סטטוס סוללה
Comment[hr]=Pokaži i prati status baterije
Comment[hu]=Az akkumulátor állapotának megjelenítése és figyelése
Comment[hy_AM]=Ցուցադրել մարտկոցի վիճակը
Comment[hye]=Ցուցադրել մարտկոցի վիճակը
Comment[id]=Tampilkan dan pantau status baterai
Comment[ie]=Controlar li statu de batterie
Comment[is]=Birta tog fylgjast með stöðu rafhlöðu
Comment[it]=Mostra e controlla lo stato della batteria
Comment[ja]=バッテリ状況の表示と監視を行います
Comment[kk]=Батарея қалпын көрсету және бақылау
Comment[ko]=배터리 상태를 보이며 감시합니다
Comment[lt]=Rodyti ir stebėti akumuliatoriaus būseną
Comment[lv]=Rādīt un novērot baterijas stāvokli
Comment[ms]=Tunjuk dan pantau status bateri
Comment[nb]=Vis og overvåk batteristatus
Comment[nl]=Toon en bewaak de status van de accu
Comment[nn]=Vis og overvak batteristatus
Comment[oc]=Afichar e seguir l'estat de la batariá
Comment[pa]=ਬੈਟਰੀ ਹਾਲਤ ਵੇਖੋ ਅਤੇ ਨਿਗਰਾਨੀ ਕਰੋ
Comment[pl]=Dostarcza informacje o stanie akumulatora
Comment[pt]=Mostrar e monitorizar o estado da bateria
Comment[pt_BR]=Mostrar e monitorar o status da bateria
Comment[ru]=Отслеживает состояние батареи
Comment[sk]=Zobrazenie a sledovanie stavu batérie
Comment[sl]=Prikaži in nadzoruj stanje baterije
Comment[sq]=Shfaqni dhe mbikëqyrni gjendje baterie
Comment[sr]=Прикажи и прати стање батерије
Comment[sv]=Visa och övervaka batteristatus
Comment[th]=แสดงและเฝ้าสังเกตสถานะแบตเตอรี่
Comment[tr]=Pil durumunu göster ve gözlemle
Comment[ug]=توكدان ھالىتىنى كۆزىتىپ كۆرسەت
Comment[uk]=Показувати і відслідковувати стан батареї
Comment[ur]=ظاہر کریں اور بیٹری کی حالت دیکھتے رہیں
Comment[ur_PK]=ظاہر کریں اور بیٹری کی حالت دیکھتے رہیں
Comment[uz]=Batareya holatini ko'rsatish va kuzatish
Comment[uz@Latn]=Batareya holatini ko'rsatish va kuzatish
Comment[vi]=Hiển thị và giám sát tình trạng pin
Comment[zh_CN]=显示并监测电池状态
Comment[zh_TW]=顯示並監視電池狀態
Icon=xfce4-battery-plugin
X-XFCE-Internal=FALSE
X-XFCE-Module=battery
X-XFCE-API=2.0
