[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=CPU Graph
Name[ar]=الرسم البياني لوحدة المعالجة المركزية
Name[ast]=Gráfica de CPU
Name[be]=Графікі ЦП
Name[bg]=Графика на ЦП
Name[ca]=Gràfica de la CPU
Name[cs]=Graf procesoru
Name[da]=CPU-graf
Name[de]=CPU-Diagramm
Name[el]=Γράφημα CPU
Name[en_AU]=CPU Graph
Name[en_CA]=CPU Graph
Name[en_GB]=CPU Graph
Name[es]=Gráfico del procesador
Name[et]=Protsessori koormusgraafik
Name[eu]=CPU Grafikoa
Name[fi]=Suoritinkäyttö
Name[fr]=Graphique processeur
Name[gl]=Gráfica da CPU
Name[he]=גרף מעבד
Name[hr]=CPU graf
Name[hu]=CPU-grafikon
Name[hy_AM]=CPU Graph
Name[hye]=CPU Graph
Name[id]=Grafik CPU
Name[ie]=Grafico de CPU
Name[is]=CPU graf
Name[it]=Grafico CPU
Name[ja]=CPU グラフ
Name[kk]=CPU Graph
Name[ko]=CPU 그래프
Name[lt]=Procesoriaus grafikas
Name[lv]=CPU grafs
Name[ms]=Graf CPU
Name[nb]=Prosessorgraf
Name[nl]=CPU Graph
Name[oc]=Grafic processor
Name[pa]=CPU ਗਰਾਫ਼
Name[pl]=Monitor użycia CPU
Name[pt]=Gráfico da CPU
Name[pt_BR]=Gráfico da CPU
Name[ro]=Grafic CPU
Name[ru]=График процессора
Name[sk]=Graf procesora
Name[sl]=Graf procesorja
Name[sq]=Grafik i CPU-së
Name[sr]=Цртеж процесора
Name[sv]=Processordiagram
Name[th]=กราฟซีพียู
Name[tr]=İşlemci Grafiği
Name[ug]=س پ ئۇ(CPU) گرافىكى
Name[uk]=Шкала ЦП
Name[ur]=سی پی یو گراف
Name[ur_PK]=سی پی یو گراف
Name[vi]=CPU Graph
Name[zh_CN]=CPU 图像
Name[zh_TW]=CPU 圖表
Comment=Graphical representation of the CPU load
Comment[ar]=تمثيل رسومي لحمل وحدة المعالجة المركزية
Comment[ast]=Representación gráfica de la carga de CPU
Comment[be]=Графічнае адлюстраванне нагрузкі на ЦП
Comment[bg]=Графично представяне на натоварването на ЦП
Comment[ca]=Representació gràfica de la càrrega de la CPU
Comment[cs]=Grafická reprezentace zatížení procesoru
Comment[da]=Grafisk visning af CPU-belastningen
Comment[de]=Grafische Darstellung der CPU-Last
Comment[el]=Γραφική αναπαράσταση του φόρτου της CPU
Comment[en_AU]=Graphical representation of the CPU load
Comment[en_CA]=Graphical representation of the CPU load
Comment[en_GB]=Graphical representation of the CPU load
Comment[es]=Gráfico de la carga del procesador
Comment[et]=Protsessori koormuse graafiline esitus
Comment[eu]=CPU lan-kargaren errepresentazio grafikoa
Comment[fi]=Suorittimien käyttöasteen kuvaaja
Comment[fr]=Représentation graphique de la charge processeur
Comment[gl]=Representación gráfica da carga da CPU
Comment[he]=תיאור גרפי של עומס המעבד
Comment[hr]=Grafički prikaz opterećenja CPU-a
Comment[hu]=A CPU-terhelés grafikus ábrázolása
Comment[hy_AM]=ԿՄՍ֊ի բեռնման գծապատկերային ներկայացում
Comment[hye]=ԿՄՍ֊ի բեռնման գծապատկերային ներկայացում
Comment[id]=Representasi grafik beban kerja CPU
Comment[ie]=Grafical representation del carga de CPU
Comment[is]=Myndræn framsetning örgjörvaálags
Comment[it]=Rappresentazione grafica del carico della CPU
Comment[ja]=CPU 負荷のグラフを表示します
Comment[kk]=Процессор жүктелудің графикалық бейнелеуі
Comment[ko]=CPU 부하를 그래픽으로 표현합니다
Comment[lt]=Grafinis procesoriaus apkrovos atvaizdavimas
Comment[lv]=Grafiska CPU noslodzes attēlošana
Comment[ms]=Perwakilan bergrafik bagi muatan CPU
Comment[nb]=Grafisk representasjon av prosessorlast
Comment[nl]=Grafische weergave van de processorbelasting
Comment[oc]=Representacion grafica de la carga processor
Comment[pa]=CPU ਲੋਡ ਲਈ ਗਰਾਫਿਕਲ ਦਿੱਖ
Comment[pl]=Dostarcza informacje na temat obciążenia CPU w postaci graficznej
Comment[pt]=Representação gráfica da carga da CPU
Comment[pt_BR]=Representação gráfica do uso da CPU
Comment[ro]=Reprezentarea grafică a încărcării procesorului
Comment[ru]=Графическое представление загруженности процессора
Comment[sk]=Grafická prezentácia zaťaženia procesora
Comment[sl]=Grafična predstavitev obremenitve procesorja
Comment[sq]=Paraqitje grafike e ngarkesës së CPU-së
Comment[sr]=Сликовни приказ оптерећења процесора
Comment[sv]=Grafisk representation av processorbelastning
Comment[th]=แสดงโหลดของซีพียูในแบบกราฟิกส์
Comment[tr]=İşlemci yükünü görsel olarak gösterir
Comment[ug]=س پ ئۇ(CPU) يۈكىنى گرافىك شەكلىدە قىلىپ كۆرسىتىدۇ
Comment[uk]=Графічне представлення завантаження процесора
Comment[ur]=گریفکل نمائندہ برائے CPU لوڈ
Comment[ur_PK]=گریفکل نمائندہ برائے CPU لوڈ
Comment[zh_CN]=图形化呈现 CPU 负载
Comment[zh_TW]=圖形化呈現 CPU 負載狀況
Icon=org.xfce.panel.cpugraph
X-XFCE-Module=cpugraph
X-XFCE-Unique=FALSE
X-XFCE-API=2.0
