[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Disk Performance Monitor
Name[ar]=مراقب أداء القرص
Name[ast]=Monitor de rindimientu de discu
Name[be]=Манітор прадукцыйнасці дыскаў
Name[bg]=Наблюдате за производителност на диска
Name[ca]=Monitor del rendiment del disc
Name[cs]=Monitorování výkonu disku
Name[da]=Overvågning af diskydelse
Name[de]=Festplattenleistungsüberwachung
Name[el]=Οθόνη επίδοσης δίσκου
Name[en_AU]=Disk Performance Monitor
Name[en_CA]=Disk Performance Monitor
Name[en_GB]=Disk Performance Monitor
Name[es]=Monitor del rendimiento del disco
Name[eu]=Diska Performantzia Monitorea
Name[fr]=Contrôleur de performance de disque
Name[gl]=Monitor de rendemento de disco
Name[he]=עוקב ביצועי דיסק
Name[hr]=Pokazivač performansi diska
Name[hu]=Lemezteljesítmény-figyelő
Name[hy_AM]=Սկաւառակի կատարման ցուցասարք
Name[hye]=Սկաւառակի կատարման ցուցասարք
Name[id]=Monitor Performa Disk
Name[is]=Vöktun diskaafkasta
Name[it]=Monitor delle prestazioni del disco
Name[ja]=ディスクパフォーマンスモニター
Name[ko]=디스크 성능 감시기
Name[lt]=Disko našumo prižiūryklė
Name[lv]=Diska Veiktspējas Pārraugs
Name[ms]=Pemantau Prestasi Cakera
Name[nb]=Overvåke diskytelse
Name[nl]=Schijfprestatiebewaker
Name[oc]=Contrarotlador de performància de disc
Name[pa]=ਡਿਸਕ ਕਾਰਗੁਜ਼ਾਰੀ ਮਾਨੀਟਰ
Name[pl]=Monitor osiągów urządzeń
Name[pt]=Monitor de desempenho do disco
Name[pt_BR]=Monitor de Desempenho do Disco
Name[ru]=Монитор дисковой производительности
Name[sk]=Sledovanie výkonu disku
Name[sl]=Prikazovalnik zmogljivosti diska
Name[sq]=Mbikëqyrës Punimi Disku
Name[sr]=Праћење учинка дискова
Name[sv]=Övervakning av diskprestanda
Name[th]=มาตรสมรรถนะดิสก์
Name[tr]=Disk performans ekranı
Name[ug]=دىسكا ئىقتىدارىنى كۆزەتكۈ
Name[uk]=Контроль за продуктивністю диска
Name[ur]=ڈسک کارکردگی مانیٹر
Name[ur_PK]=ڈسک کارکردگی مانیٹر
Name[zh_CN]=磁盘性能监视器
Name[zh_TW]=磁碟效能監視器
Comment=Show disk performance
Comment[ar]=عرض أداء القرص
Comment[ast]=Amosar rindimientu de discu
Comment[be]=Паказваць прадукцыйнасць дыскаў
Comment[bg]=Показване на производителността на диска
Comment[ca]=Mostra el rendiment del disc
Comment[cs]=Zobrazuje výkon disku
Comment[da]=Vis diskydelse
Comment[de]=Festplattenleistung anzeigen und überwachen
Comment[el]=Εμφάνιση επίδοσης δίσκου
Comment[en_AU]=Show disk performance
Comment[en_CA]=Show disk performance
Comment[en_GB]=Show disk performance
Comment[es]=Muestra el rendimiento del disco
Comment[eu]=Ikusi diska performantzia
Comment[fr]=Afficher la performance du disque
Comment[gl]=Amosar o rendemento do disco
Comment[he]=הצג ביצועי דיסק
Comment[hr]=Pokazuj performanse diska
Comment[hu]=Lemezteljesítmény megjelenítése
Comment[hy_AM]=Ցուցադրել սկաւառակի կատարումը
Comment[hye]=Ցուցադրել սկաւառակի կատարումը
Comment[id]=Tampilkan performa disk
Comment[is]=Sýna afköst diska
Comment[it]=Mostra le prestazioni di un disco
Comment[ja]=ディスクのパフォーマンスを表示します
Comment[ko]=디스크의 성능을 보여줍니다
Comment[lt]=Rodyti disko našumą
Comment[lv]=Rādīt diska veiktspēju
Comment[ms]=Tunjuk prestasi cakera
Comment[nb]=Viser diskytelsen
Comment[nl]=Toon schijfprestatie
Comment[oc]=Afichar la performància del disc
Comment[pa]=ਡਿਸਕ ਕਾਰਗੁਜ਼ਾਰੀ ਵੇਖੋ
Comment[pl]=Dostarcza informacje na temat osiągów odczytu i zapisu urządzeń
Comment[pt]=Mostrar desempenho do disco
Comment[pt_BR]=Mostrar desempenho do disco
Comment[ru]=Показать производительность дисков
Comment[sk]=Zobraziť výkon disku
Comment[sl]=Prikaz zmogljivosti diska
Comment[sq]=Shfaq si punon disku
Comment[sr]=Прикажи учинак диска
Comment[sv]=Visa diskprestanda
Comment[th]=แสดงสมรรถนะของดิสก์
Comment[tr]=Disk performansını göster
Comment[ug]=دىسكا ئىقتىدارىنى كۆرسىتىپ بېرىدۇ
Comment[uk]=Показує продуктивність диска
Comment[ur]=ڈسک کارکردگی دکھائیں
Comment[ur_PK]=ڈسک کارکردگی دکھائیں
Comment[zh_CN]=显示磁盘性能
Comment[zh_TW]=顯示磁碟效能
Icon=drive-harddisk
X-XFCE-Internal=FALSE
X-XFCE-Module=diskperf
X-XFCE-API=2.0
