[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Free Space Checker
Name[ar]=فاحص المساحات الفارغة
Name[ast]=Monitor d'espaciu llibre
Name[be]=Праверка вольнага месца
Name[bg]=Проверка на свободното пространство
Name[ca]=Verificador de l'espai lliure
Name[cs]=Kontrola volného místa
Name[da]=Tjek af ledig diskplads
Name[de]=Speicherplatzprüfung
Name[el]=Έλεγχος ελεύθερου χώρου
Name[en_AU]=Free Space Checker
Name[en_CA]=Free Space Checker
Name[en_GB]=Free Space Checker
Name[es]=Verificador del espacio libre
Name[et]=Vaba andmeruumi kontrollija
Name[eu]=Leku Libre Egiaztatzailea
Name[fi]=Vapaan levytilan valvonta
Name[fr]=Contrôleur d’espace disque disponible
Name[gl]=Comprobador de espazo libre
Name[he]=בודק מקום פנוי
Name[hr]=Provjeravač slobodnog prostora
Name[hu]=Szabadhely-ellenőrző
Name[hye]=Ազատ տարածութեան ստուգիչ
Name[id]=Pemeriksa Ruangan Kosong
Name[ie]=Controlero de líber spacie
Name[is]=Athugun á lausu diskplássi
Name[it]=Controllore dello spazio libero 
Name[ja]=空き容量チェッカ
Name[kk]=Бос орынды бақылаушы
Name[ko]=남은 용량 검사기
Name[lt]=Laisvos vietos tikrinimas
Name[lv]=Brīvās Vietas Pārbaudītājs
Name[ms]=Pemeriksa Ruang Bebas
Name[nb]=Ledig diskplass-verktøy
Name[nl]=Bewaker van vrije schijfruimte
Name[nn]=Sjekk ledig diskplass
Name[oc]=Contraròtla l'espaci de disc liure
Name[pa]=ਖਾਲੀ ਥਾਂ ਚੈੱਕਰ
Name[pl]=Monitor przestrzeni dyskowej
Name[pt]=Verificador de espaço livre
Name[pt_BR]=Verificador de espaço livre
Name[ru]=Проверка свободного места
Name[sk]=Kontrola voľného miesta
Name[sl]=Preverjevalnik prostega prostora
Name[sq]=Kontrollues Hapësire të Lirë
Name[sr]=Провера слободног простора
Name[sv]=Kontrollera ledigt utrymme
Name[th]=มาตรวัดเนื้อที่ว่าง
Name[tr]=Boş Alan Denetleyici
Name[ug]=بوشلۇق تەكشۈرگۈ
Name[uk]=Контролер вільного місця
Name[ur]=خالی جگہ چیکر
Name[ur_PK]=خالی جگہ چیکر
Name[vi]=Trình kiểm tra không gian trống
Name[zh_CN]=剩余容量检查器
Name[zh_TW]=可用容量檢查器
Comment=Monitor free disk space
Comment[ar]=مراقب المساحة الخالية في القرص
Comment[ast]=Monitor d'espaciu llibre en discu
Comment[be]=Манітор вольнага месца на дыску
Comment[bg]=Наблюдаване на свободното дисково пространство
Comment[ca]=Monitoreu l'espai lliure del disc
Comment[cs]=Sleduje volný prostor na disku
Comment[da]=Overvåg ledig diskplads
Comment[de]=Freien Festplattenplatz überwachen
Comment[el]=Παρακολουθεί τον διαθέσιμο ελεύθερο χώρο
Comment[en_AU]=Monitor free disk space
Comment[en_CA]=Monitor free disk space
Comment[en_GB]=Monitor free disk space
Comment[es]=Monitor del espacio libre del disco
Comment[et]=Jälgi vaba andmeruumi
Comment[eu]=Disko leku librea monitorizatu
Comment[fi]=Valvo vapaan tallennustilan määrää
Comment[fr]=Contrôler l’espace disque disponible
Comment[gl]=Monitor de espazo de disco libre
Comment[he]=עקוב אחר מקום פנוי בדיסק
Comment[hr]=Nadgledanje slobodnog prostora diska
Comment[hu]=Szabad hely figyelése
Comment[hye]=Ցուցասարքի սկաւառակի ազատ տարածքը
Comment[id]=Monitor ruang kosong disk
Comment[ie]=Controlar spacie líber de discos
Comment[is]=Fylgjast með lausu diskplássi
Comment[it]=Controlla lo spazio libero su disco
Comment[ja]=ディスクの空き容量を見張ります。
Comment[kk]=Дисктегі бос орынды бақылау
Comment[ko]=남은 용량을 감시합니다
Comment[lt]=Stebėti laisvą disko vietą
Comment[lv]=Uzrauga brīvo diska vietu
Comment[ms]=Pantau ruang cakera bebas
Comment[nb]=Overvåker ledig diskplass
Comment[nl]=Bewaak vrije schijfruimte
Comment[nn]=Sjekk ledig diskplass
Comment[oc]=Contrarotlar l'espaci de disc liure
Comment[pa]=ਖਾਲੀ ਡਿਸਕ ਥਾਂ ਮਾਨੀਟਰ ਕਰੋ
Comment[pl]=Dostarcza informacje na temat wolnej przestrzeni wolumenów
Comment[pt]=Monitorizar espaço livre 
Comment[pt_BR]=Monitor de espaço livre em disco
Comment[ru]=Контроль свободного места на диске
Comment[sk]=Sleduje voľný priestor na disku
Comment[sl]=Prikaži prostor na disku
Comment[sq]=Mbikëqyrni hapësirë disku të lirë
Comment[sr]=Праћење слободног простора дискова
Comment[sv]=Övervaka ledigt diskutrymme
Comment[th]=เฝ้าสังเกตเนื้อที่ว่างในดิสก์
Comment[tr]=Diskteki boş alanı gözlemler
Comment[ug]=دىسكىدىكى قالغان بوشلۇقنى كۆزىتىدۇ
Comment[uk]=Контроль вільного простору на диску
Comment[ur]=خالی ڈسک جگہ کا معائنہ کریں
Comment[ur_PK]=خالی ڈسک جگہ کا معائنہ کریں
Comment[zh_CN]=监视磁盘剩余容量
Comment[zh_TW]=監控磁碟容量
Icon=xfce4-fsguard-plugin-warning
X-XFCE-Module=fsguard
X-XFCE-Internal=FALSE
X-XFCE-API=2.0
