[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Generic Monitor
Name[am]=መቆጣጠሪያ
Name[ar]=مراقب عام
Name[ast]=Monitor xenéricu
Name[be]=Агульны манітор
Name[bg]=Универсален наблюдател
Name[ca]=Monitor genèric
Name[cs]=Obecné sledování
Name[da]=Generisk overvågning
Name[de]=Allgemeine Überwachung
Name[el]=Γενικός επόπτης
Name[en_AU]=Generic Monitor
Name[en_CA]=Generic Monitor
Name[en_GB]=Generic Monitor
Name[es]=Monitor genérico
Name[et]=Üldine seiraja
Name[eu]=Monitore arrunta
Name[fr]=Moniteur générique
Name[gl]=Monitor xenérico
Name[he]=מסך גנרי
Name[hi]=सामान्य मॉनिटर
Name[hr]=Generički monitor
Name[hu]=Általános figyelő
Name[hy_AM]=Ընդհանուր ցուցադրիչ
Name[hye]=Ընդհանուր ցուցադրիչ
Name[id]=Monitor Generik
Name[ie]=Monitor generic
Name[is]=Venjulegur skjár
Name[it]=Monitor generico
Name[ja]=ジェネリックモニター
Name[kk]=Жалпы бақылаушы
Name[ko]=일반 감시기
Name[lt]=Bendrinė prižiūryklė
Name[lv]=Vispārējs Pārraugs
Name[ms]=Pemantau Generik
Name[nb]=Generisk oversiktsprogram
Name[nl]=Generieke monitor
Name[oc]=Monitor generic
Name[pl]=Monitor poleceń
Name[pt]=Monitor genérico
Name[pt_BR]=Monitor genérico
Name[ru]=Общий монитор
Name[sk]=Všeobecné sledovanie
Name[sl]=Splošni prikazovalnik
Name[sq]=Mbikëqyrës Elementar
Name[sr]=Општи надзорник
Name[sv]=Allmän övervakning
Name[th]=เครื่องเฝ้าสังเกตอเนกประสงค์
Name[tr]=Genel İzleyici
Name[ug]=ئادەتتىكى كۆزەتكۈ
Name[uk]=Загальне спостереження
Name[ur]=عام مانیٹر
Name[ur_PK]=عام مانیٹر
Name[zh_CN]=一般监视器
Name[zh_TW]=通用監視器
Comment=Show output of a command.
Comment[am]=የ ትእዛዝ ውጤት ማሳያ
Comment[ar]=عرض مخارج أمر.
Comment[ast]=Amosar salida d'un comandu.
Comment[be]=Адлюстроўвае вывад загаду.
Comment[bg]=Показване на изхода от команда.
Comment[ca]=Mostra la sortida d'una ordre.
Comment[cs]=Zobrazit výstup příkazu.
Comment[da]=Vis outputtet af en kommando.
Comment[de]=Zeigt die Ausgabe eines Befehls an.
Comment[el]=Εμφάνιση αποτελέσματος εντολής.
Comment[en_AU]=Show output of a command.
Comment[en_CA]=Show output of a command.
Comment[en_GB]=Show output of a command.
Comment[es]=Mostrar la salida de una orden.
Comment[et]=Näita ühe käsu väljundit
Comment[eu]=Ikusi komando baten irteera.
Comment[fi]=Näytä komennon tuloste.
Comment[fr]=Afficher la sortie d’une commande.
Comment[gl]=Amosar a saída dunha orde.
Comment[he]=הצג פלט של פקודה.
Comment[hi]=कमांड का आउटपुट दिखाएँ।
Comment[hr]=Prikaži spis naredbe.
Comment[hu]=Parancs kimenetének megjelenítése.
Comment[hy_AM]=Ցուցադրել հրամանի արտածումները։
Comment[hye]=Ցուցադրել հրամանի արտածումները։
Comment[id]=Tampilkan keluaran dari perintah.
Comment[ie]=Monstrar li production de un comande.
Comment[is]=Birta úttak frá skipun.
Comment[it]=Mostra l'output di un comando.
Comment[ja]=コマンドの出力を表示します。
Comment[kk]=Команда шығысын көрсету.
Comment[ko]=명령의 출력을 보여줍니다.
Comment[lt]=Rodyti komandos išvestį.
Comment[ms]=Tunjuk output sesebuah perintah
Comment[nb]=Vis utdata fra en kommando
Comment[nl]=Toon uitvoer van een opdracht. 
Comment[oc]=Afichar la sortida d'una comanda
Comment[pl]=Śledzi i wyświetla wyniki wprowadzonego polecenia
Comment[pt]=Mostrar resultado de um comando.
Comment[pt_BR]=Mostrar saída de um comando.
Comment[ru]=Отображает результат команды
Comment[sk]=Zobrazuje výstup príkazu.
Comment[sl]=Pokaži izpis ukaza.
Comment[sq]=Shfaq përfundimin e një urdhri.
Comment[sr]=Прикажи излаз извршене наредбе.
Comment[sv]=Visa utmatning av ett kommando
Comment[th]=แสดงผลลัพธ์ของคำสั่ง
Comment[tr]=Komutun çıktısını göster.
Comment[ug]=بۇيرۇقنىڭ ئىجرا نەتىجىسىنى كۆرسىتىدۇ.
Comment[uk]=Показати вивід команди.
Comment[zh_CN]=显示命令的输出结果。
Comment[zh_TW]=顯示指令的輸出。
Icon=org.xfce.genmon
X-XFCE-Module=genmon
X-XFCE-Internal=false
X-XFCE-API=2.0

