[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Network Monitor
Name[ar]=مراقب الشبكة
Name[ast]=Monitor de rede
Name[be]=Сеткавы манітор
Name[bg]=Наблюдение на мрежата
Name[ca]=Monitor de la xarxa
Name[cs]=Sledování sítě
Name[da]=Overvågning af netværk
Name[de]=Netzwerkmonitor
Name[el]=Παρακολούθηση δικτύου
Name[en_AU]=Network Monitor
Name[en_CA]=Network Monitor
Name[en_GB]=Network Monitor
Name[eo]=Ret-ekrano
Name[es]=Monitor de la red
Name[et]=Võrgujälgija
Name[eu]=Sare monitorea
Name[fi]=Verkon valvonta
Name[fr]=Moniteur réseau
Name[gl]=Monitor da rede
Name[he]=צג רשת
Name[hr]=Nadzor mreže
Name[hu]=Hálózatfigyelő
Name[hye]=Ցանցի ազդարար
Name[id]=Monitor Jaringan
Name[ie]=Monitor de rete
Name[is]=Netkerfisvaktari
Name[it]=Monitor del carico di rete
Name[ja]=ネットワークモニター
Name[kk]=Желілік бақылаушы
Name[ko]=네트워크 감시기
Name[lt]=Tinklo prižiūryklė
Name[lv]=Tīkla pārraugs
Name[ms]=Pemantau Rangkaian
Name[nb]=Nettverksmonitor
Name[nl]=Netwerkbewaker
Name[oc]=Monitor ret
Name[pa]=ਨੈੱਟਵਰਕ ਮਾਨੀਟਰ
Name[pl]=Monitor sieci
Name[pt]=Monitor de rede
Name[pt_BR]=Monitor da Rede
Name[ro]=Monitor de Rețea
Name[ru]=Сетевой монитор
Name[sk]=Sledovanie siete
Name[sl]=Prikazovalnik omrežja
Name[sq]=Mbikëqyrës Rrjeti
Name[sr]=Надзорник мреже
Name[sv]=Nätverksövervakning
Name[th]=เครื่องมือเฝ้าสังเกตเครือข่าย
Name[tr]=Ağ Gözlemcisi
Name[ug]=تور كۆزەتكۈ
Name[uk]=Спостереження за мережею
Name[ur]=نیٹ ورک مانیٹر
Name[ur_PK]=نیٹ ورک مانیٹر
Name[zh_CN]=网络监视器
Name[zh_TW]=網路監視器
Comment=Show network traffic
Comment[ar]=عرض حركة الشبكة
Comment[ast]=Amosar tráficu de rede
Comment[be]=Паказваць сеткавы трафік
Comment[bg]=Визуализиране на мрежовия трафик
Comment[ca]=Mostra el trànsit de xarxa
Comment[cs]=Zobrazit síťový provoz
Comment[da]=Vis netværkstrafik
Comment[de]=Netzwerkverkehr anzeigen
Comment[el]=Εμφάνιση δικτυακής κίνησης
Comment[en_AU]=Show network traffic
Comment[en_CA]=Show network traffic
Comment[en_GB]=Show network traffic
Comment[eo]=Montru retŝarĝon
Comment[es]=Muestra el tráfico de la red
Comment[et]=Näita võrguliiklust
Comment[eu]=Ikusi sare trafikoa
Comment[fi]=Näytä verkkoliikenne
Comment[fr]=Afficher le trafic réseau
Comment[gl]=Amosar o tráfico de rede
Comment[he]=הצג תעבורת רשת
Comment[hr]=Pokaži mrežni promet
Comment[hu]=Hálózati forgalom megjelenítése
Comment[hye]=_Ցուցադրել ցանցի հոսքը
Comment[id]=Tampilkan arus jaringan
Comment[ie]=Monstra li trafic de rete
Comment[is]=Birta netumferð
Comment[it]=Mostra il traffico di rete
Comment[ja]=ネットワークトラフィックを表示します
Comment[kk]=Желілік трафикті көрсету
Comment[ko]=네트워크 상태를 표시합니다
Comment[lt]=Rodyti tinklo srautą
Comment[lv]=Rādīt tīkla satiksmi
Comment[ms]=Tunjuk trafik rangkaian
Comment[nb]=Viser nettverkstrafikk
Comment[nl]=Toon netwerkverkeer
Comment[oc]=Afichar lo trafic de la ret
Comment[pa]=ਨੈੱਟਵਰਕ ਟਰੈਫਿਕ ਵੇਖੋ
Comment[pl]=Dostarcza informacje na temat obciążenia połączeń sieciowych
Comment[pt]=Mostrar tráfego de rede
Comment[pt_BR]=Mostrar o tráfego de rede
Comment[ro]=Arată traficul de rețea
Comment[ru]=Показывать сетевой трафик
Comment[sk]=Zobrazuje prevádzku siete
Comment[sl]=Prikaži omrežni promet
Comment[sq]=Shfaq trafik rrjeti
Comment[sr]=Приказуј проток мрежних података
Comment[sv]=Visa nätverkstrafik
Comment[th]=แสดงปริมาณการจราจรเครือข่าย
Comment[tr]=Ağ trafiğini göster
Comment[ug]=تور قىستاڭچىلىقىنى كۆرسىتىدۇ
Comment[uk]=Відображати мережеву активність
Comment[ur]=نیٹ ورک ٹریفک ظاہر کریں
Comment[ur_PK]=نیٹ ورک ٹریفک ظاہر کریں
Comment[zh_CN]=显示网络流量
Comment[zh_TW]=顯示網路流量
Icon=org.xfce.panel.netload
X-XFCE-Module=netload
X-XFCE-Internal=FALSE
X-XFCE-API=2.0
