[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Wavelan
Name[ar]=Wavelan
Name[ast]=Wavelan
Name[be]=Бесправадная сетка
Name[bg]=Wavelan
Name[ca]=Wavelan
Name[cs]=Bezdrátové připojení
Name[da]=Wavelan
Name[de]=Wavelan
Name[el]=Wavelan
Name[en_AU]=Wavelan
Name[en_CA]=Wavelan
Name[en_GB]=Wavelan
Name[es]=Wavelan
Name[et]=Traadita võrguseade
Name[eu]=Wavelan
Name[fi]=Wavelan
Name[fr]=Wavelan
Name[gl]=Wavelan
Name[he]=Wavelan
Name[hr]=Wavelan
Name[hu]=Wavelan
Name[hy_AM]=Wavelan
Name[hye]=Wavelan
Name[id]=Wavelan
Name[is]=WaveLAN
Name[it]=Wavelan
Name[ja]=Wavelan
Name[kk]=Сымсыз желі
Name[ko]=무선랜
Name[lt]=Wavelan
Name[lv]=Wavelan
Name[ms]=Wavelan
Name[nb]=Wavelan
Name[nl]=Wavelan
Name[oc]=Wavelan
Name[pl]=Sieć bezprzewodowa
Name[pt]=Wavelan
Name[pt_BR]=Wavelan
Name[ru]=Беспроводная сеть
Name[sk]=Bezdrôtová sieť
Name[sl]=Wavelan
Name[sq]=Wavelan
Name[sr]=Мрежни талас
Name[sv]=Wavelan
Name[th]=Wavelan
Name[tr]=Wavelan
Name[ug]=Wavelan
Name[uk]=Бездротова мережа
Name[ur]=ویولین
Name[ur_PK]=ویولین
Name[zh_CN]=Wavelan 无线网络查看器
Name[zh_TW]=Wavelan
Comment=View the status of a wireless network
Comment[ar]=عرض حالة الشبكة اللا سلكية
Comment[ast]=Ver l'estáu d'una rede inalámbrica
Comment[be]=Прагляд стану бесправадной сеткі
Comment[bg]=Преглед на състоянието на безжичната мрежа
Comment[ca]=Visualitzeu l'estat de la xarxa sense fil
Comment[cs]=Zobrazuje stav bezdrátové sítě
Comment[da]=Vis statussen af et trådløst netværk
Comment[de]=Status des Drahtlosnetzwerks anzeigen
Comment[el]=Προβολή της κατάστασης ενός ασύρματου δικτύου
Comment[en_AU]=View the status of a wireless network
Comment[en_CA]=View the status of a wireless network
Comment[en_GB]=View the status of a wireless network
Comment[es]=Muestra el estado de una red inalámbrica
Comment[et]=Vaata traadita võrgu olekut
Comment[eu]=Ikusi haririk gabeko sarearen egoera
Comment[fi]=Tarkkaile langattoman verkon tilaa
Comment[fr]=Afficher l’état d’un réseau sans fil
Comment[gl]=Ver o estado dunha rede sen fíos
Comment[he]=הצגת מצב של רשת אלחוטית
Comment[hr]=Pogledaj status bežične mreže
Comment[hu]=Vezeték nélküli hálózat állapotának megjelenítése
Comment[hy_AM]=Դիտել անլար ցանցի վիճակագրութիւնը
Comment[hye]=Դիտել անլար ցանցի վիճակագրութիւնը
Comment[id]=Tampilkan status jaringan nirkabel
Comment[is]=Skoða stöðu þráðlauss nets
Comment[it]=Visualizza lo stato di una rete senza fili
Comment[ja]=無線ネットワークの状態を表示します
Comment[kk]=Сымсыз желінің қалып-күйін қарау
Comment[ko]=무선 네트워크 상태를 봅니다
Comment[lt]=Stebėkite belaidžio tinklo būseną
Comment[lv]=Apskatīt bezvadu tīkla statusu
Comment[ms]=Lihat status rangkaian tanpa wayar
Comment[nb]=Se status på et trådløsnettverk
Comment[nl]=Bekijk de status van een draadloos netwerk
Comment[oc]=Veire l'estat d'una ret sens fial
Comment[pl]=Dostarcza informacje o stanie sieci bezprzewodowej
Comment[pt]=Ver o estado da rede sem fios
Comment[pt_BR]=Visualizar o status de uma rede sem fios
Comment[ru]=Просмотр статуса беспроводной сети
Comment[sk]=Zobrazuje stav bezdrôtovej siete
Comment[sl]=Prikaz stanja brezžične povezave
Comment[sq]=Shihni gjendjen e një rrjeti pa fill
Comment[sr]=Преглед стања бежичне мреже
Comment[sv]=Visa status för ett trådlöst nätverk
Comment[th]=ดูสถานะของเครือข่ายไร้สาย
Comment[tr]=Kablosuz ağ durumunu görüntüle
Comment[ug]=سىمسىز تور ھالىتىنى كۆرسەتسۇن
Comment[uk]=Переглянути статус бездротової мережі
Comment[ur]=وائرلیس نیٹ ورک کی حالت دیکھیں
Comment[ur_PK]=وائرلیس نیٹ ورک کی حالت دیکھیں
Comment[zh_CN]=查看无线网络状态
Comment[zh_TW]=檢視無線網路狀態
Icon=network-wireless
X-XFCE-Internal=FALSE
X-XFCE-Module=wavelan
X-XFCE-API=2.0
