[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Verve Command Line
Name[ar]=سطر أوامر Verve
Name[ast]=Llinia de comandos Verve
Name[be]=Загадны радок Verve
Name[bg]=Verve Команден Ред
Name[ca]=Línia d'ordres Verve
Name[cs]=Příkazový řádek Verve
Name[da]=Verve-kommandolinje
Name[de]=Verve-Befehlszeile
Name[el]=Γραμμή Εντολών Verve
Name[en_AU]=Verve Command Line
Name[en_CA]=Verve Command Line
Name[en_GB]=Verve Command Line
Name[eo]=Vervea komandlinio
Name[es]=Línea de órdenes Verve
Name[et]=Verve käsureavidin
Name[eu]=Verve komando lerroa
Name[fi]=Verve-komentorivi
Name[fr]=Ligne de commande Verve
Name[gl]=Liña de ordes Verve
Name[he]=שורת פקודה Verve
Name[hr]=Verve naredbeni redak
Name[hu]=Verve parancssor
Name[hy_AM]=Verve հրամանային տող
Name[hye]=Verve հրամանային տող
Name[id]=Baris Perintah Verve
Name[ie]=Linea de comandes Verve
Name[is]=Verve skipanalína
Name[it]=Riga di comando Verve
Name[ja]=Verve コマンドライン
Name[ko]=Verve 명령행
Name[lt]=Verve komandų eilutė
Name[lv]=Verve komandu rinda
Name[ms]=Baris Perintah Verve
Name[nb]=Verve kommandolinje
Name[nl]=Verve Opdrachtregel
Name[oc]=Linha de comanda Verve
Name[pa]=ਵੀਰਵੀ ਕਮਾਂਡ ਲਾਇਨ
Name[pl]=Wiersz poleceń Verve
Name[pt]=Linha de comandos Verve
Name[pt_BR]=Linha de Comando do Verve
Name[ro]=Linia de comandă Verve
Name[ru]=Командная строка Verve
Name[sk]=Príkazový riadok Verve
Name[sl]=Verve ukazna vrstica
Name[sq]=Rresht Urdhrash Verve
Name[sr]=Полетна наредбена линија
Name[sv]=Verve-kommandorad
Name[th]=บรรทัดคำสั่ง Verve
Name[tr]=Verve Komut Satırı
Name[ug]=Verve بۇيرۇق قۇرى
Name[uk]=Командний рядок Verve
Name[ur]=ورو کمانڈ لائن
Name[ur_PK]=ورو کمانڈ لائن
Name[vi]=Dòng lệnh Verve
Name[zh_CN]=Verve 命令行
Name[zh_TW]=Verve 指令列
Comment=Command line interface with auto-completion and command history
Comment[ar]=واجهة سطر أوامر تدعم الاستكمال التلقائي وتاريخ أوامر
Comment[ast]=Interfaz de llinia de comandos con auto-completáu ya historia de comandos
Comment[be]=Загадны радок з аўтадапаўненнем і гісторыяй загадаў
Comment[bg]=Интерфейс на командния ред с авто-завършване и история на командите
Comment[ca]=Interfície de línia d'ordres amb compleció automàtica i historial d'ordres
Comment[cs]=Prostředí příkazového řádku s automatickým doplňováním a historií příkazů
Comment[da]=Kommandolinjegrænseflade med autofuldførelse og kommandohistorik
Comment[de]=Befehlszeilenschnittstelle, mit Autovervollständigung, Befehlsverlauf und Adresserkennung
Comment[el]=Γραμμή εντολών με αυτόματη συμπλήρωση και ιστορικό
Comment[en_AU]=Command line interface with auto-completion and command history
Comment[en_CA]=Command line interface with auto-completion and command history
Comment[en_GB]=Command line interface with auto-completion and command history
Comment[eo]=Komandlinia interfaco kun aŭto-kompletado kaj komandhistorio
Comment[es]=Interfaz de línea de órdenes con autocompletado e historial de órdenes
Comment[et]=Käsurea liides ajaloo salvestamise ja käskude ennustamisega
Comment[eu]=Komando lerro interfazea auto-betetze eta komando historiarekin
Comment[fi]=Komentorivi automaattitäydennyksellä ja komentohistorialla
Comment[fr]=Interface de ligne de commande avec autocomplétion et historique des commandes
Comment[gl]=Interface de liña de ordes con completado automático e historial de ordes
Comment[he]=ממשק שורת פקודה עם השלמה אוטומטית והיסטוריית פקודה
Comment[hr]=Sučelje naredbenog retka sa automatskim dovršavanjem i pamćenjem povijesti naredbi
Comment[hu]=Parancssor-felület automatikus kiegészítéssel és parancselőzményekkel
Comment[hy_AM]=Հրամանային տողի փոխկապակցիչը ինքնաւարտով եւ հրամանային պատմութեամբ
Comment[hye]=Հրամանային տողի փոխկապակցիչը ինքնաւարտով եւ հրամանային պատմութեամբ
Comment[id]=Antarmuka baris perintah dengan penyelesaian otomatis dan riwayat perintah
Comment[ie]=Un linea de comandes con auto-completion e diarium de comandes
Comment[is]=Skipanalínuviðmót með sjálfklárun og ferilsögu yfir keyrðar skipanir
Comment[it]=Interfaccia a riga di comando con completamento automatico e cronologia dei comandi
Comment[ja]=コマンドの自動補完や履歴を参照できるコマンドラインインターフェイスです。
Comment[ko]=자동 완성과 명령 기록기능이 동작하는 명령줄 인터페이스
Comment[lt]=Komandų eilutės sąsaja su automatiniu užbaigimų ir komandų žurnalu
Comment[lv]=Komandu rindas interfeis ar auto-pabeigšanu un komandu vēsturi.
Comment[ms]=Antaramka baris perintah dengan pelengkapan-auto dan sejarah perintah
Comment[nb]=Kommandolinjegrensesnitt med automatisk fullføring og kommandohistorikk
Comment[nl]=Opdrachtregelvenster met automatische aanvulling en opdrachtgeschiedenis
Comment[oc]=Interfàcia de linha de comanda amb l'autocomplecion e l'istoric de las comandas
Comment[pa]=ਆਟੋ-ਕੰਪਲੀਸ਼ਨ ਅਤੇ ਕਮਾਂਡ ਹਿਸਟਰੀ ਨਾਲ ਕਮਾਂਡ ਲਾਇਨ ਇੰਟਰਫੇਸ
Comment[pl]=Wprowadza polecenia, wykorzystując automatyczne uzupełnianie i historię poleceń
Comment[pt]=Linha de comandos com conclusão automática e histórico de comandos
Comment[pt_BR]=Interface de linha de comando com completamento automático e histórico de comandos
Comment[ro]=Interfață în linie de comandă cu auto-completare și istoric
Comment[ru]=Командная строка с автодополнением и журналом команд
Comment[sk]=Prostredie príkazového riadka s automatickým doplňovaním a históriou príkazov
Comment[sl]=Interpreter ukazne vrstice s samodejnim zaključevanjem in zgodovino ukazov
Comment[sq]=Ndërfaqe rreshti urdhrash me vetëplotësim dhe historik urdhrash
Comment[sr]=Сучеље наредбене линије са самосталном допуном и историјом наредби
Comment[sv]=Kommandoradsgränssnitt med automatisk komplettering och kommandohistorik
Comment[th]=การติดต่อแบบบรรทัดคำสั่ง โดยมีการเติมเต็มคำอัตโนมัติ และเก็บประวัติคำสั่ง
Comment[tr]=Kendiliğinden tamamlamalı ve komut geçmişi tutabilen komut satırı arayüzü
Comment[ug]=ئاپتوماتىك تولۇقلاش ۋە بۇيرۇق ئىزى ئىقتىدارى بار بولغان بۇيرۇق قۇرى ئارايۈزى
Comment[uk]=Інтерфейс командного рядка з авто-доповненням та історією команд
Comment[ur]=کمانڈ لائن مواجہ بمع خودکام-تکمیل اور کمانڈ محفوظات
Comment[ur_PK]=کمانڈ لائن مواجہ بمع خودکام-تکمیل اور کمانڈ محفوظات
Comment[zh_CN]=带自动补全和命令历史的命令行界面
Comment[zh_TW]=具有自動補齊和指令歷史紀錄的指令列介面
Icon=utilities-terminal
X-XFCE-Internal=FALSE
X-XFCE-Module=verve
X-XFCE-API=2.0
