[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name[ar]=منبه إكسفس 4
Name[ast]=Xfce4 Timer
Name[be]=Таймер Xfce4
Name[bg]=Xfce4 Брояч
Name[cs]=Odpočet času pro Xfce4
Name[da]=Xfce4 Timer
Name[de]=Xfce4-Zeitschaltuhr
Name[el]=Χρονόμετρο xfce4
Name[en_AU]=Xfce4 Timer
Name[en_GB]=Xfce4 Timer
Name[eo]=Xfce4 Sablohorloĝo
Name[es]=Temporizador de Xfce4
Name[et]=Xfce4 taimer
Name[eu]=Xfce4 kronometroa
Name[fa_IR]=زمان‌سنج Xfce4
Name[fi]=Xfce4-ajastin
Name[fr]=Chronomètre Xfce4
Name[gl]=Xfce4 Timer
Name[he]=קוצב זמן Xfce4 
Name[hr]=Xfce4 Mjerač vremena
Name[hu]=Xfce 4 időzítő
Name[hye]=Xfce4 Ժամաչափ
Name[id]=Pengukur Waktu Xfce4
Name[ie]=Temporisator Xfce4
Name[is]=Xfce4 tímamæling
Name[it]=Cronometro di Xfce4
Name[ja]=Xfce4 タイマー
Name[ko]=Xfce4 타이머
Name[lt]=Xfce4 laikmatis
Name[lv]=Xfce4 Taimeris
Name[ms]=Pemasa Xfce4
Name[nb]=Xfce4 Tidtaker
Name[nl]=Xfce4-Tijdmeter
Name[oc]=Cronomètre Xfce4
Name[pl]=Minutnik
Name[pt_BR]=Temporizador do Xfce4
Name[pt]=Temporizador Xfce4
Name[ro]=Temporizator Xfce4
Name[ru]=Таймер Xfce4
Name[sk]=Časovač Xfce4
Name[sl]=Xfce4 Časovnik
Name[sq]=Kohës Xfce4
Name[sr]=Бројач времена ИксФЦЕ-а
Name[sv]=Xfce4-tidtagare
Name[th]=นาฬิกาปลุก Xfce4
Name[tr]=XFCE4 Alarm Eklentisi -- XFCE4 Timer
Name[ug]=Xfce4 ۋاقىت ئۆلچىگۈچى
Name[uk]=Таймер Xfce4
Name[ur_PK]=ایکسفس4 ٹائمر
Name[ur]=ایکسفس4 ٹائمر
Name[zh_CN]=Xfce 定时器
Name[zh_TW]=Xfce4 定時器
Name=Xfce4 Timer
Comment[ar]=التنبيه، ملحق لوحة إكس
Comment[ast]=Complementu temporizador pal panel de Xfce
Comment[be]=Убудова таймера для панэлі Xfce
Comment[bg]=Добавка брояч за панела на Xfce
Comment[cs]=Zásuvný modul pro odpočítávání času pro panel Xfce
Comment[da]=Timer-plugin til Xfce-panelet
Comment[de]=Zeitschaltuhrerweiterung für die Xfce-Leiste
Comment[el]=Πρόσθετο χρονομέτρου για το ταμπλό του Xfce
Comment[en_AU]=Timer plugin for Xfce panel
Comment[en_GB]=Timer plugin for Xfce panel
Comment[eo]=Sablohorloĝa kromprogramo por Xfce panelo
Comment[es]=Temporizador para el panel de Xfce
Comment[et]=Taimeri pistikprogramm Xfce paneeli jaoks
Comment[eu]=Xfce panelarentzat kronometro plugina
Comment[fa_IR]=افزایهٔ زمان‌سنج برای تابلوی Xfce
Comment[fi]=Ajastinliitännäinen Xfce:n paneelille
Comment[fr]=Greffon de chronomètre pour le tableau de bord Xfce
Comment[gl]=Engadido de temporizador para o panel de Xfce
Comment[he]=תוסף קוצב זמן עבור פאנל Xfce 
Comment[hr]=Priključak mjerača vremena za Xfce4 ploču
Comment[hu]=Időzítő bővítmény az Xfce panelhez
Comment[hye]=Ժամաչափի ներդրաւն Xfce վահանակի համար
Comment[id]=Plugin pengukur waktu untuk panel Xfce
Comment[ie]=Un plugin de temporisator por li panel de Xfce
Comment[is]=Tímamælingarviðbót fyrir Xfce4 skjástikur
Comment[it]=Componente aggiuntivo del cronometro per il pannello di Xfce
Comment[ja]=Xfce パネル用のタイマープラグインです。
Comment[ko]=Xfce 패널용 타이머 플러그인
Comment[lt]=Laikmačio įskiepis, skirtas Xfce skydeliui
Comment[lv]=Taimera spraudnis Xfce panelim
Comment[ms]=Pemalam pemasa untuk panel Xfce
Comment[nb]=Tidtaker-programtillegg for Xfce-panelet
Comment[nl]=Tijdmeter-invoegsel voor Xfce4-werkbalk
Comment[oc]=Empeuton del cronomètre pel panèl Xfce
Comment[pl]=Odmierza ustalony czas
Comment[pt_BR]=Plugin temporizador para o painel do Xfce
Comment[pt]=Plugin temporizador para o painel do Xfce
Comment[ro]=Modul temporizator pentru panoul Xfce
Comment[ru]=Модуль таймера для панели Xfce
Comment[sk]=Zásuvný modul Časovač pre panel Xfce
Comment[sl]=Vtičnik časovnika za Xfce pano
Comment[sq]=Shtojcë kohëmatësi për panelin e Xfce-së
Comment[sr]=Прикључак бројача на полици ИксФЦЕ-а
Comment[sv]=Tidtagare för Xfce-panelen
Comment[th]=ปลั๊กอินนาฬิกาปลุกสำหรับพาเนล Xfce
Comment[tr]=XFCE paneli için alarm eklentisi
Comment[ug]=Xfce نىڭ ۋاقىت ئۆلچىگۈچ قىستۇرمىسى
Comment[uk]=Плагін Таймер для панелі Xfce
Comment[ur_PK]=ٹائمر پلگ ان برائے ایکسفس 4.4 پینل
Comment[ur]=ٹائمر پلگ ان برائے ایکسفس 4.4 پینل
Comment[zh_CN]=Xfce 面板的定时器插件
Comment[zh_TW]=Xfce 面板的定時器插件
Comment=Timer plugin for Xfce panel
Icon=xfce4-timer-plugin
X-XFCE-Module=xfcetimer
X-XFCE-Internal=false
X-XFCE-Unique=false
X-XFCE-API=2.0
