
[Desktop Entry]
Version=1.0
Icon=org.xfce.thunar
Type=X-XFCE-Helper
Name[am]=ቱናር
Name[ar]=تونار
Name[ast]=Thunar
Name[az]=Thunar
Name[be]=Thunar
Name[be@tarask]=Тунар
Name[bg]=Файлов мениджър Thunar
Name[bn]=থানার
Name[ca]=Thunar
Name[cs]=Thunar
Name[da]=Thunar
Name[de]=Thunar
Name[el]=Thunar
Name[en_AU]=Thunar
Name[en_CA]=Thunar
Name[en_GB]=Thunar
Name[es]=Thunar
Name[et]=Thunar
Name[eu]=Thunar
Name[fi]=Thunar
Name[fr]=Thunar
Name[gl]=Thunar
Name[he]=תונאר
Name[hr]=Thunar
Name[hu]=Thunar
Name[hy_AM]=Thunar նիշք
Name[hye]=Thunar
Name[id]=Thunar
Name[ie]=Thunar
Name[is]=Thunar
Name[it]=Thunar
Name[ja]=Thunar
Name[kab]=Thunar
Name[ka]=თუნარი
Name[kk]=Thunar
Name[ko]=Thunar
Name[lt]=Thunar
Name[lv]=Thunar
Name[ms]=Thunar
Name[nb]=Thunar
Name[nl]=Thunar
Name[nn]=Thunar
Name[oc]=Thunar
Name[pl]=Thunar
Name[pt_BR]=Thunar
Name[pt]=Thunar
Name[ro]=Thunar
Name[ru]=Thunar
Name[sk]=Thunar
Name[sl]=Thunar
Name[sq]=Thunar
Name[sr]=Тунар
Name[sv]=Thunar
Name[te]=తునార్
Name[th]=Thunar
Name[tr]=Thunar
Name[ug]=سۇنار(Thunar)
Name[uk]=Файловий менеджер Thunar
Name[ur_PK]=تھنر
Name[ur]=تھنر
Name[zh_CN]=Thunar 文件管理器
Name[zh_HK]=Thunar
Name[zh_TW]=Thunar
Name=Thunar
StartupNotify=true
X-XFCE-Binaries=thunar;
X-XFCE-Category=FileManager
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
